body{
    font-family: "Playfair Display", serif;
}

nav {
    display: flex;
}

ul{
    display: flex;
    padding: 24px;
    margin-left: auto;
}

ul li {
    padding: 24px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    
}