* {
    padding: 0;
    margin: 0;
}
body{
    font-family: "Playfair Display", serif;
}

nav {
    display: flex;
    background-color: #19375c;
}

nav img {
    width: 116px;
    height: 92px;
}

nav h1{
    color:#fff;
    padding: 24px;
}

ul{
    display: flex;
    padding: 24px;
    margin-left: auto;
}

ul li {
    padding: 24px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;   
}

#history {
    padding: 24px;
}

#about {
    display: flex;
    margin: 16px;
    padding: 16px;
}