* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
}

nav {
    display: flex;
    background-color: #19375c;
}

nav img {
    width: 116px;
    height: 92px;
}

nav h1{
    color:#fff;
    padding: 24px;
}

ul{
    display: flex;
    padding: 24px;
    margin-left: auto;
}

ul li {
    padding: 24px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;   
}

#history {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    
}

#about {
    display: flex;
    width: 100%;
    max-width: 100vw; 
    overflow-x: hidden;;
    padding: 24px;
}

#text-history {
    flex: 0 0 60%;
    padding: 10px;
    text-align: justify;
    line-height: 24px;
}

#image-history {
    flex: 0 0 40%; /* Ocupa 25% da largura */
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#image-history img {
    max-width: 100%;
    height: auto;
    padding: 16px;
}
#image-history p{
    line-height: 32px;
    padding-left: 16px;
}

#gallery{
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;

}

#fotos {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    max-width: 100%;
    justify-content: center; 
    margin-top: 24px;
}

.fotos-item {
    flex: 0 0 calc(33.33% - 10px); 
    box-sizing: border-box;
}

.fotos-item img{
    width: 100%; 
    height: auto;
    border-radius: 8px; 
}

#contact {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

#contatos {
    display: flex;
    gap: 10px; 
    max-width: 100%;
    justify-content: center; 
    margin-top: 24px;
}

form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
}


form input, form textarea {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

/* Estilo para o textarea */
form textarea {
    resize: vertical;
    height: 120px;
}


form button {
    width: 100%; 
    padding: 12px; 
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

form button:hover {
    background-color: #45a049; 
}


#information {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    max-width: 500px; 
    margin-left: 20px; /
}


#information p {
    font-size: 16px; 
    margin-bottom: 10px; 
}

#information b {
    font-weight: bold; 
    color: #4CAF50; 
    line-height: 24px;
}

footer {
    background-color: #19375c;
}

footer p {
    color: fff;
    text-align: center;
}
